---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Retour</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}KiéKi...{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}Du plus petit au plus grand...:{% endif %}</p>
          <p class="author_subtitle">Antoine 8 ans: rêve de devenir footballeur ou tennisman ou conducteur de bateau ou boulanger ou joueur de water-polo ou encore conducteur de bus ...</p>
       <br/>
       <br/>
                 <p class="author_subtitle">Gabin, 10 ans: adore le tennis et les animaux..., rêve de voir des dauphins et des baleines.</p>
                  <br/>
       <br/>
                 <p class="author_subtitle">Carine, 42 anse Je rêve de dépaysement, de détente, de ne pas avoir un rythme de fous, de moments partagés ensemble,
                 d'une jolie parenthèse. Je rêve de prendre le temps de rêver... et je rêve que le long voyage en avion est déjà terminé (ouf!!)  </p>
       <br/>                 
       <br/>
                 <p class="author_subtitle">Jordi, 42 ans: rêve de prendre son pied pendant une rando à Yosemite,
															d'en prendre plein les oreilles à la Nouvelle Orleans, de prendre de la hauteur à New York, 											
															 de prendre une bière devant un superbe coucher de soleil dans les Keys en Floride ...
															 mais surtout de prendre le temps de profiter en famille.
															</p>
        </div>
      </div>

      <!--<div class="about_social">
        {% include social_footer.html %}
      </div>-->
    </div> <!-- End Section Author -->
</section>
