
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Une parenthèse en famille...{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"If not now , when ...?"{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->

<!--Le voyage c'est aller de soi à soi en passant par les autres.". — Proverbe Touareg-->
