
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}C<span>amp' à l'ouest !</span>{% endif %}</a>
  <!--<nav class="main_menu">
    <a href="{{site.baseurl}}/about/">Le projet</a>
    <a href="{{site.baseurl}}/about/">A propos</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>-->


<div class="open">
      <div class="clickzone"></div>
	  <span class="cls"></span>
	  <span>
	    <ul class="sub-menu ">
	      <li> <a href="#">Le projet</a> </li>

	      <li> <a href="{{site.baseurl}}/contact/">Contact</a> </li>

	      <li> <a href="{{site.baseurl}}/about/">A propos</a> </li>

	      
	    </ul>
	  </span>

	 <span class="cls"></span>

</div>


</header> <!-- End Section Header -->
